<p style="color: green"><%= notice %></p>

<h1 class="text-center">Customers</h1>

<div class="container" id="customers">
    <%= link_to "New customer", new_customer_path %>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name/th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @customers.each_with_index do |customer, index| %>
        <tr>
          <th scope="row"><%= index +1 %> </th>
          <td><%= customer.name %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.address%></td>
          <td><%= customer.email%></td>
          <td>    
            <p> <%= link_to "Show this customer", customer %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
</div>




