<p style="color: green"><%= notice %></p>

<h1 class="text-center">Customers#<%= @customer.id %></h1>
<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>
