<p style="color: green"><%= notice %></p>

<h1 class="text-center">Orders</h1>

<div class="container" id="orders">
    <%= link_to "New order", new_order_path %>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customers</th>
        <th scope="col">Total</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each_with_index do |order, index| %>
        <tr>
          <th scope="row"><%= index +1 %> </th>
          <td><%= order.Customer_id %></td>
          <td><%= order.total %></td>
          <td><%= order.order_date%></td>
          <td><%= order.status%></td>
          <td>    
            <%= link_to "Show this order", order %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
</div>
