<p style="color: green"><%= notice %></p>

<h1 class="text-center">Items</h1>

<div class="container" id="items">
  <%= link_to "New item", new_item_path %>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name/th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each_with_index do |item, index| %>
      <tr>
        <th scope="row"><%= index +1 %> </th>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.description%></td>
        <td>    
          <p> <%= link_to "Show this item", item %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

